/* body {
    font-family: Arial, sans-serif;
}

.signup-form-container, .download-page {
    max-width: 500px;
    margin:50px auto
    padding: 20px;
    border: 1px soild #ccc
    border-radius: 5px;
    text-align: center;
}

.form-group  {
    margin-bottom: 15px;
}

.form-group Label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"], {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.success-message {
    color: green;
    margin-top: 20px;
}

.error-message {
    color: red;
    margin-top: 20px;
}

.download-page h1 {
    color: #007bff;
}

.download-page p {
    margin: 20px 0;
}

.download-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.download-button,
.open-intracom-button {
    display: block;
    width: 48%;
    text-align: center;
    padding: 10px;
    border: 1px soild #007bff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.download-button:hover,
.open-interacom-button:hover {
    background-color: #007bff;livesha
    color: #fff;
} */