/* .Search-Bar {
    width: 100%;
    max-width: 400px;
}


.search-bar input {
    width: 100%;
    padding:10px;
    front-size: 16px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .search-bar {
        max-width: 100%;
    }
} */