/* .user-row td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.user-row a {
    color:
    text-decorations: none;
}

.user-row a:hover {
    text-decoration: underline;
}

@media (max-width: ) {
    .user-row td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}

.user-row {
    display: block;
    margin-bottom:20px;
}

.user-row td: :before {
    content: Attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 100%;
} */